:root {
    --2rem: 2rem;
    --1rem: 1rem;
    --black: #0c0b0b;
    --white: #f9f2f2;
}
html {
    background-color: var(--white);
}
h1 {
    font-weight: 600;
}
body {
    color: var(--black);
}
.headline {
    height: 82px;
    padding: var( --1rem) 0;
}
a {
    color: var(--black);
}
.logo {
    margin-right: var(--2rem);
}
.logo a:hover {
    text-decoration: none;
}
.logo a{
    display: flex;
    justify-content: left;
    align-items: center;
color: var(--black);
font-weight: 600;
font-size: 1.2rem;
}
.logo a img {
    width: 30px;
    height: 30px;
    margin-right: .5rem;
}
.inline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    padding: 0 6%;
}
.links {
    display: flex;
}
.links p {
    margin-right: var(--2rem);
}
.links a {
    margin-left: var(--1rem);
}
main {
    margin: 0 6%;
    min-height: calc(81.1vh - (2 * 20px)); /* Учитываем отступы (20px) по вертикали */
    box-sizing: border-box;
    padding: 20px;
}
.ex {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    font-size: 230%;
    width: 100%;
    height: 40rem;
}
.ex::before {
    margin-bottom: var(--1rem);
    border-radius: var(--2rem);
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-image: url(https://njrzbt.github.io/octoimg/samsnimi/main-cover.jpg);
    background-position: 50%;
    z-index: -1;
}
.card {
    display: block;
    max-width: 100%;
    border-radius: var(--1rem);
    background-color: #fffafa;
    width: 18rem;
    height: auto;
    /* padding: .5rem; */
    margin-right: var(--1rem);
    margin-top: var(--1rem);
    cursor: pointer;
    border: 1px solid #c9d1e5;
}
.card img {
    display: block;
    max-width: 100%;
    border-radius: 1rem 1rem 0 0;
    width: 100%;
    height: 204px;
}
.metro {
    display: flex;
    align-items: center;
    margin-top: 1rem;
}
#room-cor {
    margin-top: .5rem;
}
.metro svg {
    margin-right: .2rem;
}
.text-card {
    padding: 0 var(--1rem);
    margin-top: var(--1rem);
    margin-bottom: 13px;
}
.predloz {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: var(--1rem);
}
footer {
    width: auto;
    display: flex;
    align-items: center;
    height: 100px;
    padding: 0 6%;
    border-radius: 1rem 1rem 0 0;
}
svg path {
    width: 100%;
    height: 100%;
}
.down {
    display: flex;
    justify-content: end;
    flex-direction: column;
    padding: 0 var(--1rem);
    margin-bottom: 17px;
    height: 70px;
}
.theme-switch {
    cursor: pointer;
    margin-left: var(--1rem);
    user-select: none;
}
.light-theme {
    background-color: var(--white);
    color: var(--black);
}
.dark-theme {
    background-color: var(--black);
    color: var(--white);
}
.dark-theme .card {
    background-color: #101011;
    border: 1px solid #202022;
}
.dark-theme a {
    color: var(--white);
}
.text-used {
    display: flex;
}
.text-used a {
    margin-left: .1rem;
    color: #ff6666;
    font-weight: 600;
}
